In [30]:
import requests
import pandas as pd
import numpy as np
import json
import time
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [12]:
film_df = pd.read_csv('data/IMDB_mine_data_2019.csv')
film_df.head()

,Unnamed: 0,title_code,title,runtime,release_date,rating,prod_co,metaScore,metaUserScore,imdb_rating,...,actor7,actor8,actor9,actor10,directors,writers,budget,opening_wknd,gross_dom,gross_int
0,0,tt0079302,Home Movies,0,1980-05-16,PG,"['SLC', 'United Artists Classics']",0,0,0,...,/name/nm0876808/,/name/nm0353614/,/name/nm0757854/,/name/nm0096431/,['Brian De Palma'],"['Kim Ambler', 'Brian De Palma', 'Dana Edelman...",400000.0,89134.0,89134.0,NaN
1,0,tt0276132,The Fetishist,0,2019-09-24,NaN,[],0,0,0,...,NaN,NaN,NaN,NaN,['Jim Trainor'],[],NaN,NaN,NaN,NaN
2,0,tt0279481,Travel Daze,0,2019-05-31,NaN,['Circa 1964'],0,0,0,...,NaN,NaN,NaN,NaN,['Michael Possert Jr.'],['Michael Possert Jr.'],NaN,NaN,NaN,NaN
3,0,tt0441881,Danger Close,0,2019-11-08,R,"['Deeper Water', 'Saboteur Media', 'Saban Films']",0,0,0,...,/name/nm3478396/,/name/nm7011217/,/name/nm2828232/,/name/nm7202582/,['Kriv Stenders'],"['Stuart Beattie', 'James Nicholas', 'Karel Se...",35000000.0,2078370.0,NaN,NaN
4,0,tt0800325,The Dirt,0,2019-03-22,TV-MA,"['10th Street Entertainment', 'Netflix']",0,0,0,...,/name/nm9923628/,/name/nm3571490/,/name/nm6778538/,/name/nm4054025/,['Jeff Tremaine'],"['Amanda Adelson', 'Tommy Lee', 'Mick Mars', '...",NaN,NaN,NaN,NaN

In [18]:
actor_lst = []

for a in film_df.actor1:
    if not a == np.nan:
        actor_lst.append(a)
        
for a in film_df.actor2:
    if not a == np.nan:
        actor_lst.append(a)

for a in film_df.actor3:
    if not a == np.nan:
        actor_lst.append(a)
        
for a in film_df.actor4:
    if not a == np.nan:
        actor_lst.append(a)

for a in film_df.actor5:
    if not a == np.nan:
        actor_lst.append(a)
        
for a in film_df.actor6:
    if not a == np.nan:
        actor_lst.append(a)

for a in film_df.actor7:
    if not a == np.nan:
        actor_lst.append(a)
        
for a in film_df.actor8:
    if not a == np.nan:
        actor_lst.append(a)
        
for a in film_df.actor9:
    if not a == np.nan:
        actor_lst.append(a)
        
for a in film_df.actor10:
    if not a == np.nan:
        actor_lst.append(a)

#actor_df['actor'] = film_df['actor1'].map( lambda x : x if not x==np.nan else continue)

In [19]:
u_actor_lst = np.unique(np.array(actor_lst))

In [20]:
print(len(u_actor_lst), len(actor_lst))

36968 59950

In [24]:
uact_df = pd.DataFrame(u_actor_lst, columns=['actor'])

In [26]:
uact_df.head()
#uact_df.to_csv('data/actor_list_2019.csv')

In [9]:
def fetch_actor_data(name_code):
    #scrape IMDB
    url = 'https://imdb.com/'+name_code
    resp = requests.request("GET", url) 
    soup = BeautifulSoup(resp.text, "html.parser")
    div = soup.find("td", {"class": "name-overview-widget__section"})
    act = div.find("span",{"class":"itemprop"})
    return act.text

In [10]:
print(fetch_actor_data('name/nm0000095/'))

Woody Allen

In [6]:
url = 'https://imdb.com/name/nm0000095'
resp = requests.request("GET", url) 
soup = BeautifulSoup(resp.text, "html.parser")

In [27]:
div = soup.find("td", {"class": "name-overview-widget__section"})
#print(div)

In [28]:
blank_df = pd.DataFrame(columns=['actor', 'name'])

In [29]:
#blank_df.to_csv('data/2019_actors_out.csv')